# Homework 1

In [4]:
import os
import pandas as pd

In [13]:
PATH_IN = './Data/'
fname = os.path.join(PATH_IN, 'interactive_data.csv')
df = pd.read_csv(fname)
df.head(5)

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
0,1,None selected,None selected,None selected,None selected,33599,316299978,10.6
1,2,None selected,None selected,None selected,White,22079,197369634,11.2
2,3,None selected,None selected,None selected,Black,7765,38896382,20.0
3,4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
4,5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7

In [43]:
# Filter out None selected from file
df_filtered = df.loc[~(df == 'None selected').any(axis=1)]

# Compute total deaths
deaths = df_filtered['Deaths'].sum()

# Compute suicide gun death rate
suicides = df_filtered[df_filtered['Intent']=='Suicide']
suicide_rate = suicides['Deaths'].sum()/deaths*100
print('Suicide gun deaths: %f%%'%(suicide_rate))

# Compute male suicide gun death rate
male_suicides = suicides[suicides['Gender']=='Male']
male_suicide_rate = male_suicides['Deaths'].sum()/suicides['Deaths'].sum()*100
print('Suicide male gun deaths: %f%%'%(male_suicide_rate))

# Compute homicide gun death rate
homicides = df_filtered[df_filtered['Intent']=='Homicide']
homicide_rate = homicides['Deaths'].sum()/deaths*100
print('Homicide gun deaths: %f%%'%(homicide_rate))

# Compute 15-34 black male homicide gun death rate
male_homicides_15_34 = homicides[(homicides['Gender']=='Male') & (homicides['Age']=='15 - 34')]
black_male_homicides_15_34 = male_homicides_15_34[male_homicides_15_34['Race']=='Black']
black_male_homicides_15_34_rate = black_male_homicides_15_34['Deaths'].sum()/male_homicides_15_34['Deaths'].sum()*100
print('Black male homicide age 15-34 gun deaths: %f%%'%(black_male_homicides_15_34_rate))

# Compute female homicide gun death rate
women_homicides = homicides[homicides['Gender']=='Female']
women_homicide_rate = women_homicides['Deaths'].sum()/homicides['Deaths'].sum()*100
print('Female homicide gun deaths: %f%%'%(women_homicide_rate))

Suicide gun deaths: 62.681947%
Suicide male gun deaths: 86.242758%
Homicide gun deaths: 34.906980%
Black male homicide age 15-34 gun deaths: 66.124827%
Female homicide gun deaths: 15.289503%